<!DOCTYPE html>
<html>
<head>
  <title>Promotion</title>
  <%= stylesheet_link_tag    "promotion/application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag "promotion/application" %>

</body>
</html>
